<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title>Description of checkCellAttribute</title>
  <meta name="keywords" content="checkCellAttribute">
  <meta name="description" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="generator" content="m2html v1.5 &copy; 2003-2005 Guillaume Flandin">
  <meta name="robots" content="index, follow">
  <link type="text/css" rel="stylesheet" href="../../../m2html.css">
</head>
<body>
<a name="_top"></a>
<div><a href="../../../index.html">Home</a> &gt;  <a href="../../index.html">BaSCA</a> &gt; <a href="#">utils</a> &gt; <a href="index.html">attributes</a> &gt; checkCellAttribute.m</div>

<!--<table width="100%"><tr><td align="left"><a href="../../../index.html"><img alt="<" border="0" src="../../../left.png">&nbsp;Master index</a></td>
<td align="right"><a href="index.html">Index for BaSCA/utils/attributes&nbsp;<img alt=">" border="0" src="../../../right.png"></a></td></tr></table>-->

<h1>checkCellAttribute
</h1>

<h2><a name="_name"></a>PURPOSE <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="box"><strong></strong></div>

<h2><a name="_synopsis"></a>SYNOPSIS <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="box"><strong>function [attributeStat, attribute, units, errorMessage] = checkCellAttribute(cellAttribute) </strong></div>

<h2><a name="_description"></a>DESCRIPTION <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="fragment"><pre class="comment"></pre></div>

<!-- crossreference -->
<h2><a name="_cross"></a>CROSS-REFERENCE INFORMATION <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
This function calls:
<ul style="list-style-image:url(../../../matlabicon.gif)">
<li><a href="createCellAttribute.html" class="code" title="function cellAttribute = createCellAttribute(attributeStat, attribute)">createCellAttribute</a>	</li><li><a href="getCellAttributes.html" class="code" title="function cellAttributes = getCellAttributes(whichCellAttributes)">getCellAttributes</a>	</li></ul>
This function is called by:
<ul style="list-style-image:url(../../../matlabicon.gif)">
</ul>
<!-- crossreference -->



<h2><a name="_source"></a>SOURCE CODE <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="fragment"><pre>0001 <a name="_sub0" href="#_subfunctions" class="code">function [attributeStat, attribute, units, errorMessage] = checkCellAttribute(cellAttribute)</a>
0002 errorMessage =[];
0003 <span class="keyword">if</span> (length(cellAttribute)==3)
0004     attributeStat = lower(cellAttribute{1});
0005     attribute = lower(cellAttribute{2});
0006     units = cellAttribute{3};
0007  
0008     <span class="keyword">if</span>(~ischar(attributeStat) || ~ischar(attribute) ||~ischar(units))
0009         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: cellAttribute must contain only strings\n'</span>);
0010         attributeStat = []; 
0011         attribute = [];
0012         units =[];
0013         <span class="keyword">return</span>;
0014     <span class="keyword">end</span>
0015     attributeStats = getAttributeStats();
0016     attributeStatsInString = sprintf(<span class="string">'''%s'''</span>, strjoin(attributeStats,<span class="string">''', '''</span>));
0017     <span class="keyword">if</span>(sum(strcmp(attributeStat, attributeStats)) == 0)
0018         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: &lt;attributeStat&gt; can be {%s}\n'</span>, attributeStatsInString);
0019         attributeStat = []; 
0020         attribute = [];
0021         units =[];        
0022         <span class="keyword">return</span>;
0023     <span class="keyword">end</span>
0024     
0025     attributes = getCellInstAttributes(<span class="string">'all'</span>);
0026     attributesInString = sprintf(<span class="string">'''%s'''</span>, strjoin(attributes,<span class="string">''', \n'''</span>));
0027     <span class="keyword">if</span>(sum(strcmp(attributes, attribute))==0)
0028         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: &lt;attribute&gt; can be {%s}\n'</span>, attributesInString);
0029         attributeStat = []; 
0030         attribute = [];
0031         units =[];        
0032         <span class="keyword">return</span>;
0033     <span class="keyword">end</span>
0034     
0035     cellAttributes = <a href="getCellAttributes.html" class="code" title="function cellAttributes = getCellAttributes(whichCellAttributes)">getCellAttributes</a>(<span class="string">'statAttrs'</span>);
0036     cellAttributesInString = sprintf(<span class="string">'''%s'''</span>, strjoin(cellAttributes,<span class="string">''', \n'''</span>));
0037     cellAttribute = <a href="createCellAttribute.html" class="code" title="function cellAttribute = createCellAttribute(attributeStat, attribute)">createCellAttribute</a>(attributeStat, attribute);
0038     <span class="keyword">if</span>(sum(strcmp(cellAttributes, cellAttribute))==0)
0039         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: &lt;attributeStat&gt;_&lt;attribute&gt; can be {%s}\n'</span>, cellAttributesInString);
0040         attributeStat = []; 
0041         attribute = [];
0042         units =[];        
0043         <span class="keyword">return</span>;
0044     <span class="keyword">end</span>
0045 <span class="keyword">else</span>
0046     attributeStat = <span class="string">''</span>;
0047     attribute = lower(cellAttribute{1});
0048     units = cellAttribute{2};
0049     <span class="keyword">if</span>(~ischar(attributeStat) || ~ischar(attribute) ||~ischar(units))
0050         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: cellAttribute must contain only strings\n'</span>);
0051         attributeStat = []; 
0052         attribute = [];
0053         units =[];
0054         <span class="keyword">return</span>;
0055     <span class="keyword">end</span>    
0056     attributes = <a href="getCellAttributes.html" class="code" title="function cellAttributes = getCellAttributes(whichCellAttributes)">getCellAttributes</a>(<span class="string">'lifeAttrs'</span>);
0057     attributesInString = sprintf(<span class="string">'''%s'''</span>, strjoin(attributes,<span class="string">''', \n'''</span>));
0058     <span class="keyword">if</span>(sum(strcmp(attributes, attribute))==0)
0059         attributeStat = []; 
0060         attribute = [];
0061         units =[];        
0062         errorMessage = sprintf(<span class="string">'Error in &lt;cellAttribute&gt;: &lt;attribute&gt; can be {%s}\n'</span>, attributesInString);
0063         <span class="keyword">return</span>;
0064     <span class="keyword">end</span>    
0065 <span class="keyword">end</span></pre></div>
<hr><address>Generated on Sat 05-Jun-2021 15:34:07 by <strong><a href="http://www.artefact.tk/software/matlab/m2html/" title="Matlab Documentation in HTML">m2html</a></strong> &copy; 2005</address>
</body>
</html>