<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title>Description of checkCellInstantAttribute</title>
  <meta name="keywords" content="checkCellInstantAttribute">
  <meta name="description" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="generator" content="m2html v1.5 &copy; 2003-2005 Guillaume Flandin">
  <meta name="robots" content="index, follow">
  <link type="text/css" rel="stylesheet" href="../../../m2html.css">
</head>
<body>
<a name="_top"></a>
<div><a href="../../../index.html">Home</a> &gt;  <a href="../../index.html">BaSCA</a> &gt; <a href="#">utils</a> &gt; <a href="index.html">attributes</a> &gt; checkCellInstantAttribute.m</div>

<!--<table width="100%"><tr><td align="left"><a href="../../../index.html"><img alt="<" border="0" src="../../../left.png">&nbsp;Master index</a></td>
<td align="right"><a href="index.html">Index for BaSCA/utils/attributes&nbsp;<img alt=">" border="0" src="../../../right.png"></a></td></tr></table>-->

<h1>checkCellInstantAttribute
</h1>

<h2><a name="_name"></a>PURPOSE <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="box"><strong></strong></div>

<h2><a name="_synopsis"></a>SYNOPSIS <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="box"><strong>function [attribute, units, errorMessage] = checkCellInstantAttribute(cellInstantAttribute, whichCellInstAttributes) </strong></div>

<h2><a name="_description"></a>DESCRIPTION <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="fragment"><pre class="comment"></pre></div>

<!-- crossreference -->
<h2><a name="_cross"></a>CROSS-REFERENCE INFORMATION <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
This function calls:
<ul style="list-style-image:url(../../../matlabicon.gif)">
</ul>
This function is called by:
<ul style="list-style-image:url(../../../matlabicon.gif)">
</ul>
<!-- crossreference -->



<h2><a name="_source"></a>SOURCE CODE <a href="#_top"><img alt="^" border="0" src="../../../up.png"></a></h2>
<div class="fragment"><pre>0001 <a name="_sub0" href="#_subfunctions" class="code">function [attribute, units, errorMessage] = checkCellInstantAttribute(cellInstantAttribute, whichCellInstAttributes)</a>
0002 errorMessage =[];
0003 attribute = lower(cellInstantAttribute{1});
0004 units = cellInstantAttribute{2};
0005 <span class="keyword">if</span>(~ischar(attribute) ||~ischar(units))
0006     errorMessage = sprintf(<span class="string">'Error in &lt;cellInstantAttribute&gt;: cellInstantAttribute must contain only strings\n'</span>);
0007     attribute = [];
0008     units =[];
0009     <span class="keyword">return</span>;
0010 <span class="keyword">end</span>
0011 attributes = getCellInstAttributes(whichCellInstAttributes);
0012 attributesInString = sprintf(<span class="string">'''%s'''</span>, strjoin(attributes,<span class="string">''', \n'''</span>));
0013 <span class="keyword">if</span>(sum(strcmp(attributes, attribute))==0)
0014     attribute = [];
0015     units =[];
0016     errorMessage = sprintf(<span class="string">'Error in &lt;cellInstantAttribute&gt;: &lt;attribute&gt; can be {%s}\n'</span>, attributesInString);
0017     <span class="keyword">return</span>;
0018 <span class="keyword">end</span>
0019 <span class="keyword">end</span></pre></div>
<hr><address>Generated on Sat 05-Jun-2021 15:34:07 by <strong><a href="http://www.artefact.tk/software/matlab/m2html/" title="Matlab Documentation in HTML">m2html</a></strong> &copy; 2005</address>
</body>
</html>